{% extends "layout.html.twig" %}

{% block content %}
                 <h1> Welcome  </h1>
                 <p> This is a simple application for you, and that would show you a little demonstration  </p>
             
{% endblock %}

